<app-navbar></app-navbar>
<div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="image">
                    <img src="#">
                </div>
            </div>
            <div class="col-md-3">
                <h3>Description:</h3>
                <p>{{ads.descrip}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <h5 class=" " id="name">Name :</h5> 
               <h5 class=" " id="email">Email :{{ads.email}} :</h5> 
               <h5 class=" " id="phone">Phone :{{ads.phone}}</h5> 
               <h5 class=" " id="address">Address :</h5> 
          
            </div>
        </div>
    </div>
    